.btn-primary {
  background-color: #026dc1;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: rgba(2, 109, 193, 0.05);
}
.btn-inline-block {
  display: inline-block;
}

.bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.bold-italic {
  font-weight: 700;
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}

.btn-primary {
  background-color: #026dc1;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: rgba(2, 109, 193, 0.05);
}
.btn-inline-block {
  display: inline-block;
}
.font-default {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  font-weight: 400;
}
.font-emphasis {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  font-weight: 700;
}
h1,
.h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #808080;
}
h2,
.h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #808080;
}
h3,
.h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #808080;
}
h4,
.h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #808080;
  text-transform: uppercase;
}
.bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.bold-italic {
  font-weight: 700;
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}


