@import '../colors.less';

.font-default {
  font-family: 'Open Sans', sans-serif;
  color: @color-default-text;
  font-weight: 400;
}

.font-emphasis {
  font-family: 'Open Sans', sans-serif;
  color: @color-default-text;
  font-weight: 700;
}
