
/**
 * Description of the fancy molecule
 *
 * @example
 * <div class="eb-molecule">
 *   <button class="btn btn-primary">Button</button>
 * </div>
 *
 * @section Fancy Molecule
 * @page Molecules
 */

.eb-molecule {
    border: 1px dotted blue;
    border-radius: 3px;
    padding: 15px;
}
