
/**
 * a
 *
 *
 * @example
 *   <a class="primary" href="#">Primary</a><br />
 * <a class="dark" href="#">Dark</a><br />
 * <a class="light" href="#">Light</a><br />
 * <a class="btn primary" href="#">Primary</a><br /><br />
 * <a class="btn primary block" href="#">Primary</a><br />
 * <a class="btn dark block" href="#">Primary</a><br />
 * <a class="btn light block" href="#">Primary</a><br />
 * @section
 * @page Atoms
 */

@import "../variables";

a {
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  &.primary {
    color: $primary;
  }
  &.dark {
    color: $dark;
  }
  &.light {
    color: $light;
  }
  &.btn {
    &.primary {
      background-color: $primary;
      color: $light;
    }
    &.dark {
      background-color: $dark;
      color: $light;
    }
    &.light {
      background-color: $light;
      color: $dark;
    }
  }
  &.block {
    display: block;
  }
}
